nav {
    height: 30px;
    background-color: blue;
    list-style-type: none;
    padding-top: 15px;
    width: 800px;
    margin-left: 368px;
    border-radius: 100px;
}

nav li a[name=home] {
    float: left;
    width: 1cm;
    margin-left: 20px;
}

nav li a[name=tetris] {
    float: right;
    width: 1.8cm;
    margin-right: 20px;
}

nav li a[name=leaderboard] {
    float: right;
}

nav li a {
    display: block;
    height: 0.7cm;
    width: 2cm;
    text-align: center;
    font: Arial;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    color: #33fcff;

    position: relative;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.5px;
    padding: 0 10px;

}


nav li a:before,
nav li a:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: black;
  transition: 0.3s;
}

nav li a:after {
    left: 0;
    bottom: 5px;
}
nav li a:before {
    right: 0;
    top: -6px;
}
nav li a:hover {
    color: black;
}
nav li a:hover:after,
nav li a:hover:before {
    width: 50%;
}





div.heading {
    margin: auto;
    text-align: center;
    font-size: 30pt;
    background-color: #c7c7c7;
    box-shadow: 5px 5px;
    width: 800px;
}

div.button {
    margin: auto;
    text-align: center;
    height: 200px
}

div.button button {
    height: 100px;
    width: 400px;
    font-size: 30pt;
    margin-top: 50px;
}

div.loginForm {
    background-color: #c7c7c7;
    text-align: center;
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px;
}
div.main {
    text-align: center;
    background-image: url("../img/tetris.png");
    background-repeat: no-repeat;
    background-position: center;
}

div.signUpForm {
    background-color: #c7c7c7;
    text-align: center;
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px;
    padding: 20px;
}











