@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/* 
* Navbar
*/

nav {
    height: 30px;
    background-color: blue;
    list-style-type: none;
    padding-top: 15px;
    width: 800px;
    margin: auto;
    border-radius: 100px;
}

nav li a[name=home] {
    float: left;
    width: 1cm;
    margin-left: 20px;
}

nav li a[name=tetris] {
    float: right;
    width: 1.8cm;
    margin-right: 20px;
}

nav li a[name=leaderboard] {
    float: right;
}

nav li a {
    display: block;
    height: 0.7cm;
    width: 2cm;
    text-align: center;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial;

    position: relative;
    letter-spacing: 0.5px;
    padding: 0 10px;

}

nav li a:before,
nav li a:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: rgb(250, 96, 255);
  transition: 0.3s;
}

nav li a:after {
    left: 0;
    bottom: 5px;
}
nav li a:before {
    right: 0;
    top: -6px;
}
nav li a:hover {
    color: rgb(250, 96, 255);
}
nav li a:hover:after,
nav li a:hover:before {
    width: 50%;
}

/*
* Index
*/

div.loginForm{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 375px;
    width: 150px;
    padding: 10px;
    line-height: 30px;
    outline: 4px solid white;
    border-radius: 10px;
}

div.loginForm a {
    color: white;
    font-family: Arial;
    font-size: 12px;
    line-height: 5px;
    text-decoration: none;
}

div.loginForm p {
    line-height: 20px;
    padding-top: 10px;
    margin: 0;
}

div.loginForm button {
    margin-top: 20px;
}

#error {
    color: rgb(238, 255, 0);
    text-decoration: underline;
    font-family: Arial;
    padding-top: 10px;
}



/*
* Main
*/

div.main {
    background-image: url('../img/tetris.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95%;


    width: 1000px;
    margin: auto;
    background-color: #c7c7c7;
    text-align: center;
    height: 800px;

    margin-top: 40px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px #919191, 
    -5px -5px 5px #b6b6b6;
}

div.welcome {
    padding-top: 0cm;
    font-size: 30px;

}

div.welcome h1 {
    color: #000000;
    font-family: 'Righteous', cursive;
    margin-bottom: 5px;
}

#play{
    margin-top: 400px;
    line-height: 50px;
    border-radius: 10px;
    font-size: 16px;
    padding: 0 10px;
}

#logout{
    margin-top: 30px;
    line-height: 50px;
    border-radius: 10px;
    font-size: 16px;
    padding: 0 10px;
}

button {
    background: linear-gradient(to bottom right, #ff234b, #ff3cef);
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    transition: .2s;
    line-height: 30px;
    border-radius: 5px;
    font-size: 16px;
    padding: 0 10px;
}

button:hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

body { 
    background-color: #c4c4c4;
}

/*
* Leaderboard
*/

table {
    width: 150px; 
    border-spacing: 2px;
    border: solid white;
    transform: translate(385px, 300px);
    color: white;
    border-collapse: collapse;
}

tbody, thead tr { display: block; }

tbody {
    height: 230px;
    width: 224px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgb(70, 87, 184);
}

thead {
    background-color: blue;
}

tbody td, thead th {
    width: 100px;
    text-align: center;
    border: 1px solid white;
}

div.main table th:hover {
    cursor: default;
    background-color: rgb(101, 93, 218);
}

div.main table td:hover {
    cursor: default;
    background-color: rgb(101, 93, 218);
}

div.main h1 {
        color: #000000;
    text-shadow: -2.5px 2.5px 0 #585858;
}
/*
* Register
*/

div.signUpForm {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 320px;
    width: 150px;
    padding: 10px;
    line-height: 30px;
    outline: 4px solid white;
    border-radius: 10px;
}

input[type=text], [type=password] {
    line-height: 20px;
    outline: none;
    border: none;
    border-radius: 25px;
    color: black;
    background-color: white;
    text-align: center;
}

input[type=text]:focus, [type=password]:focus{
    border: 1px solid #ff3cef;
}


div.signUpForm p {
    color: white;
    margin-top: 10px;
    margin-bottom: 0px;
}

.switch {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 100px;
    height: 25px;
    text-align: center;
    background: #00bc48;
    transition: all 0.2s ease;
    border-radius: 25px;
}

input[type=radio] {
    display: none;
}

.switch label {
    cursor: pointer;
    color: #0000003f;
    width: 60px;
    line-height: 25px;
    transition: all 0.2s ease;
    font-family: Arial;
    font-size: 15px;
}

label[for=radioYes] {
    position: absolute;
    right: 50%;
}

label[for=radioNo] {
    position: absolute;
}

#radioNo:checked ~ .switch {
    background: #eb4f37;
}

#radioYes:checked ~ .switch label[for=radioYes] {
    color: white;
}

#radioNo:checked ~ .switch label[for=radioNo] {
    color: white;
}

#signup {
    margin-top: 20px;
}

/*
Tetris
*/

.tetris-bg {
    width: 300px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
}

.block {
    width: 30px;
    height: 30px;
    position: relative;
    float: left;
    background-color: blue;
}

.taken {
    width: 30px;
    height: 30px;
    position: relative;
    float: left;
    background-color: red;
}

button #start {
    margin-top: 30px;
    line-height: 50px;
    border-radius: 10px;
    font-size: 16px;
    padding: 0 10px;
}

button #start:active {
    visibility: hidden;
}

img #grid {
    margin: 0;
    padding: 0;
    border: 0;
    color: red;
}

