.b1 {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 202px;
    left: 609.5px;
}

.b2 {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 202px;
    left: 639.5px;
}

.b3 {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 202px;
    left: 669.5px;
}

.b4 {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 232px;
    left: 669.5px;
}

.tetris-bg div {
    background-color: blue;
}